@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: ubuntu-regular;
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: ubuntu-medium;
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}